<% content_for( :title, t('.title'))%>
<div class="bg-customBeige text-customGreen5 min-h-screen grid grid-rows-7">
  <div class="grid row-span-2 content-center">
    <div class="container mx-auto my-8 px-5 py-4">
      <h1 class="text-3xl font-bold text-center"><%= t('.title') %></h1>
    </div>
  </div>
  <div class="row-span-5">
    <div class="container mx-auto px-4 py-4">
      <div class=" border-8 border-double border-customGreen6 rounded-3xl shadow-lg shadow-customGreen4 bg-customGreen7 md:w-3/5 md:mx-auto px-4">
        <p class="px-4 py-6 font-extrabold underline"><%= @result.title %></p>
        <p class= "px-4 pb-6 tracking-wide leading-relaxed"><%= @result.description %></p>
        <p class= "px-4 py-4 font-extrabold leading-relaxed underline">おすすめ機能:</p>
        <% @result.recommendations.each do |recommendation|%>
          <p class= "px-4 pb-6 tracking-wide leading-relaxed"><%= recommendation.title %>: <%= recommendation.description %></p>
        <% end %>
        <div class="twitter text-xs sm:text-sm text-white mt-12 mb-8 py-1 px-4 border-2 border-gray-500 rounded-lg bg-gray-500 hover:bg-gray-700 text-center w-2/3 md:w-1/2 lg:w-2/5 xl:w-1/7 mx-auto">
          <%= link_to "https://x.com/share?url=https://www.justbe-u.com&text=【あなたの自己否定度は？】%0a%0a#{ @result.title}%0a%0a %23JustBeU %23自己受容", target: '_blank' do %>
            結果を<i class="fa-brands fa-x-twitter"></i>シェアする
          <% end %>
        </div>
      </div>
      <div class="my-10 text-center">
        <% if @result.id == 1 %>
          <li class="inline-block text-sm md:text-base rounded-lg drop-shadow-lg px-6 py-1 mx-4 mb-4 lg:px-4 hover:bg-customGreen6 hover:drop-shadow-lg border-2 border-customGreen7"><%= link_to "自己受容トレーニング", new_self_esteem_training_path, data: { turbo: false }%></li>
          <li class="inline-block text-sm md:text-base rounded-lg drop-shadow-lg px-6 py-1 mx-4 mb-4 lg:px-4 hover:bg-customGreen6 hover:drop-shadow-lg border-2 border-customGreen7"><%= link_to "今日の幸せ日記を作成", new_diary_path, data: { turbo: false }%></li>
        <% elsif @result.id == 2 %>
          <li class="inline-block text-sm md:text-base rounded-lg drop-shadow-lg px-6 py-1 mx-4 mb-4 lg:px-4 hover:bg-customGreen6 hover:drop-shadow-lg border-2 border-customGreen7"><%= link_to "自己受容トレーニング", new_self_esteem_training_path, data: { turbo: false }%></li>
          <li class="inline-block text-sm md:text-base rounded-lg drop-shadow-lg px-6 py-1 mx-4 mb-4 lg:px-4 hover:bg-customGreen6 hover:drop-shadow-lg border-2 border-customGreen7"><%= link_to "今日の幸せ日記を作成", new_diary_path, data: { turbo: false }%></li>
        <% elsif @result.id == 3 %>
          <p class="text-xs lg:text-sm text-gray-400 mt-4 mb-2 text-center">LINE友だち追加して月刊セルフケアの通知を受け取る↓</p>
          <div class="flex justify-center items-center my-4">
            <a href="https://lin.ee/xuMpNYB", class="mx-4">
              <img src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png" alt="Add friend" style="height: 28px;" border="0">
            </a>
            <div class="mt-4 mx-4">
              <img src="https://qr-official.line.me/gs/M_733fqpjd_BW.png?oat_content=qr" width="100">
            </div>
          </div>
          <p class="font-bold text-xl mt-4 mb-2 text-center">or</p>
          <li class="inline-block text-sm md:text-base rounded-lg drop-shadow-lg mt-4 px-6 py-1 lg:px-4 hover:bg-customGreen6 hover:drop-shadow-lg border-2 border-customGreen7"><%= link_to "今日の幸せ日記を作成", new_diary_path, data: { turbo: false }%></li>
        <% else %>
          <p class="text-xs lg:text-sm text-gray-400 mt-4 mb-2 text-center">LINE友だち追加して月刊セルフケアの通知を受け取る↓</p>
          <div class="flex justify-center items-center mt-4">
            <a href="https://lin.ee/xuMpNYB", class="mx-4">
              <img src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png" alt="Add friend" style="height: 28px;" border="0">
            </a>
            <div class="mt-4 mx-4">
              <img src="https://qr-official.line.me/gs/M_733fqpjd_BW.png?oat_content=qr" width="100">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>