<% content_for(:title, t('.title')) %>
<div class="container mx-auto">
  <table class="table m-4">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Threshold</th>
        <th>Flower Image</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <% @unlockable_flowers.each do |flower| %>
        <tr>
          <td><%= flower.id %></td>
          <td><%= flower.name %></td>
          <td><%= flower.threshold %></td>
          <td><%= image_tag (flower.flower_image).variant( resize:"40x40!" ) %></td>
          <td>
            <%= link_to "詳細", "#" %>
            <%= link_to "編集", "#" %>
            <%= link_to "削除", "#" %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
