<div class="bg-customBeige text-customBrown h-screen flex items-center justify-center ">
  <%= form_with url: admin_unlockable_flowers_path, local: true do |f|%>
    <div>
      <%= f.label :name%><br>
      <%= f.text_field :name%>
    </div>
    <div>
      <%= f.label :threshold %><br>
      <%= f.text_field :threshold%>
    </div>
    <div class="my-3">
      <%= f.label :flower_image%><br>
      <%= f.file_field :flower_image%>
    </div>
  <%end%>
</div>