<header class="bg-customGreen5 flex flex-row justify-between items-center h-20">
  <div class="text-customGreen3 mx-6 text-2xl font-bold">
      <%= link_to "JustBe U", "/", data: { turbo: false }%>
  </div>
  <div class="flex items-center space-x-4 mx-4">
    <div class="hidden md:block text-customGreen2 mx-4 text-customGreen2">
      <%= link_to "自己否定度診断", questions_path, data: { turbo: false }%>
    </div>
    <nav>
      <details class="dropdown dropdown-end">
        <summary class="text-customGreen2 m-1 btn bg-customGreen5 border-none hover:bg-customGreen5">
          <i class="fa-solid fa-bars h-6 w-8"></i>
        </summary>
        <ul class="dropdown-content z-[1] menu px-6 py-4 shadow bg-customGreen5 rounded-box w-80 text-customGreen2 mt-3">
          <li class="hover:bg-neutral-600 hover:rounded-xl"><%= link_to "マイページ", mypage_path, data: { turbo: false }%></li>
          <li>
            <details>
              <summary class="hover:bg-neutral-600 hover:rounded-xl">トレーニング</summary>
                <ul>
                  <li class="hover:bg-neutral-600 hover:rounded-xl"><%= link_to "- 自己受容トレーニング", new_self_esteem_training_path, data: { turbo: false }%></li>
                  <li class="hover:bg-neutral-600 hover:rounded-xl"><%= link_to "- 自己発見トレーニング", new_self_discovery_training_path, data: { turbo: false }%></li>
                </ul>
            </details>
          </li>
          <li>
            <details>
              <summary class="hover:bg-neutral-600 hover:rounded-xl">幸せ日記</summary>
                <ul>
                  <li class="hover:bg-neutral-600 hover:rounded-xl"><%= link_to "- 幸せ日記一覧", diaries_path, data: { turbo: false }%></li>
                  <li class="hover:bg-neutral-600 hover:rounded-xl"><%= link_to "- 今日の幸せ日記を作成", new_diary_path, data: { turbo: false }%></li>
                </ul>
            </details>
          </li>
          <li class="hover:bg-neutral-600 hover:rounded-xl"><%= link_to "みんなの励ましクエスト", encouragement_requests_path, data: { turbo: false }%></li>
          <li class="hover:bg-neutral-600 hover:rounded-xl"><%= link_to "励ましリクエスト作成", select_image_encouragement_requests_path, data: { turbo: false }%></li>
          <li class="md:hidden hover:bg-neutral-600 hover:rounded-xl"><%= link_to "自己否定度診断", questions_path, data: { turbo: false }%></li>
          <li class="hover:bg-neutral-600 hover:rounded-xl"><%= link_to t('defaults.sign_out'), destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか?" } %></li>
        </ul>
      </details>
    </nav>
  </div>
</header>
