<header class="bg-customGreen flex flex-row justify-between items-center h-20">
  <div class="text-orange-200 mx-4">
    <%= link_to "InnerAccept", "/" %>
  </div>
  <div class="flex items-center space-x-4 mx-4">
    <div class="text-orange-200 mx-4">
      <%= link_to "自己否定度診断", questions_path %>
    </div>
    <nav>
      <div class="dropdown dropdown-bottom dropdown-end h-full">
        <div tabindex="0" class="m-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-orange-200">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-customGreen rounded-box w-60 text-orange-200">
          <li><%= link_to "マイページ", mypage_path %></li>
          <li><%= link_to "自己否定脱却トレーニング", new_self_esteem_training_path %></li>
          <li><%= link_to "幸せ日記一覧", diaries_path %></li>
          <li><%= link_to "今日の幸せ日記を作成", new_diary_path %></li>
          <li><%= link_to t('defaults.sign_out'), "/sign_out", data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか?" } %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
