<tr>
  <td><%= flower.id %></td>
  <td><%= flower.name %></td>
  <td><%= flower.threshold %></td>
  <td><%= image_tag (flower.flower_image).variant( resize:"40x40!" ) %></td>
  <td>
    <%= link_to t('defaults.show'), "#", class: "hover:text-green-600 border border-gray-400 p-2 m-2 rounded-lg"%>
    <%= link_to t('defaults.edit'), edit_admin_flower_path(flower), class: "hover:text-yellow-600 border border-gray-400 p-2 m-2 rounded-lg"%>
    <%= link_to t('defaults.delete'), admin_flower_path(flower), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm')}, class: "hover:text-red-600 border border-gray-400 p-2 m-2 rounded-lg" %>
  </td>
</tr>