<% content_for(:title, t('.title')) %>
<div class="container mx-auto">
  <table class="table m-4">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>TEXT</th>
        <th>SCORE TYPE</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.id %></td>
          <td><%= question.text %></td>
          <td><%= question.score_type %></td>
          <td>
            <%= link_to "詳細", admin_question_path(question), class: "hover:text-red" %>
            <%= link_to "編集", edit_admin_question_path(question), class: "hover:text-red" %>
            <%= link_to "削除", admin_question_path(question), data: { turbo_method: :delete, turbo_confirm: "質問をを削除しますか?"}, class: "hover:text-red" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>