<div class="container mx-auto sm:px-5 py-6">
  <p class="text-center my-8 text-customGreen"><%= "メッセージカードを作成して#{request_user}さんに励ましのメッセージを送って元気づけましょう!" %></p>
  <%= form_with model: encouragement_message, data: { turbo: false } do |f| %>
    <%= render 'shared/error_messages', object: encouragement_message %>
    <div class="my-2 sm:w-2/3 lg:w-3/5 mx-auto">
      <p class="font-bold lg-font-extrabold text-xl lg:text-2xl mb-4 text-center">STEP１</p>
      <%= f.label :text, "励ましのメッセージを入力", class: "block text-center text-customGreen" %>
      <%= f.text_area :text, class: "w-full bg-customBeige3 border-2 border-customGreen7 p-2 rounded-lg", size: "40x4", placeholder:"例）頑張ってるの知ってるよ/いつでも応援してるよ/時には息抜きも大事！etc"%>
    </div>
    <div class="my-8 sm:w-2/3 lg:w-3/5 mx-auto text-center">
      <p class="font-bold lg-font-extrabold text-xl lg:text-2xl mb-4 text-center">STEP２</p>
      <%= f.label :background_id, "画像選択", class: "block text-customGreen"%>
      <%= f.select :background_id, options_for_select([["使用したい背景を以下から１つ選択", "", { disabled: true, selected: true }]] + (5..10).to_a), {}, {class: "select select-bordered w-full max-w-xs border-2 border-customGreen7 bg-customBeige3 text-slate-400"} %>
    </div>
    <%= f.hidden_field :encouragement_request_id, value:encouragement_message.encouragement_request_id%>
    <div class="actions text-center sm:w-2/3 lg:w-3/5 mx-auto mt-10 mb-4">
      <% if encouragement_message.new_record? %>
        <%= f.submit "メッセージカードを作成", class: "bg-customGreen6 mx-2 my-2 px-10 py-1 rounded-full drop-shadow-lg hover:bg-customGreen7 hover:drop-shadow-lg border-2 border-customGreen2" %>
      <% else %>
        <%= f.submit "メッセージカードを編集", class: "bg-customGreen6 mx-2 my-2 px-10 py-1 rounded-full drop-shadow-lg hover:bg-customGreen7 hover:drop-shadow-lg border-2 border-customGreen2" %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="sm:hidden container mx-auto px-5 py-1">
  <p class="text-center underline text-customGreen">背景画像</p>
  <div class="flex flex-col items-center  w-full my-4">
    <p>⑤</p>
    <%= image_tag "5.png", size: '400x300' %>
  </div>
  <div class="flex flex-col items-center  w-full my-4">
    <p>⑥</p>
    <%= image_tag "6.png", size: '400x300' %>
  </div>
  <div class="flex flex-col items-center  w-full my-4">
    <p>⑦</p>
    <%= image_tag "7.png", size: '400x300' %>
  </div>
  <div class="flex flex-col items-center  w-full my-4">
    <p>⑧</p>
    <%= image_tag "8.png", size: '400x300' %>
  </div>
  <div class="flex flex-col items-center  w-full my-4">
    <p>⑨</p>
    <%= image_tag "9.png", size: '400x300' %>
  </div>
  <div class="flex flex-col items-center  w-full my-4">
    <p>⑩</p>
    <%= image_tag "10.png", size: '400x300' %>
  </div>
</div>
<div class="hidden sm:inline-block container mx-auto px-5 py-1">
  <div class="grid grid-cols-2 gap-2">
    <div class="flex flex-col items-center  w-full my-4">
      <p>⑤</p>
      <%= image_tag "5.png", size: '400x300' %>
    </div>
    <div class="flex flex-col items-center  w-full my-4">
      <p>⑥</p>
      <%= image_tag "6.png", size: '400x300' %>
    </div>
    <div class="flex flex-col items-center  w-full my-4">
      <p>⑦</p>
      <%= image_tag "7.png", size: '400x300' %>
    </div>
    <div class="flex flex-col items-center  w-full my-4">
      <p>⑧</p>
      <%= image_tag "8.png", size: '400x300' %>
    </div>
    <div class="flex flex-col items-center  w-full my-4">
      <p>⑨</p>
      <%= image_tag "9.png", size: '400x300' %>
    </div>
    <div class="flex flex-col items-center  w-full my-4">
      <p>⑩</p>
      <%= image_tag "10.png", size: '400x300' %>
    </div>
  </div>
</div>