<% assign_meta_tags image: rails_blob_url(@encouragement_message.encouragement_request.request_image, only_path: false) %>
<% content_for(:title, t('.title'))%>
<div class="bg-customBeige min-h-screen text-customGreen5">
  <div class="container mx-auto px-2 sm:px-5 py-10">
    <h1 class="text-2xl font-bold text-center my-10"><%= t('.title') %></h1>
    <div class="container mx-auto sm:px-5 py-10">
      <p class="text-center my-8 text-customGreen"><%= "メッセージカードを作成して#{@request_user}さんに励ましのメッセージを送って元気づけましょう!" %></p>
      <%= form_with model: @encouragement_message, data: { turbo: false } do |f| %>
        <%= render 'shared/error_messages', object: @encouragement_message %>
        <div class="my-2 sm:w-2/3 lg:w-3/5 mx-auto">
          <p class="font-bold lg-font-extrabold text-lg lg:text-xl mb-8 text-center">STEP１</p>
          <%= f.label :text, "励ましのメッセージを入力", class: "block text-center text-customGreen" %>
          <%= f.text_area :text, class: "w-full bg-customBeige3 border-2 border-customGreen7 p-2 rounded-lg", size: "40x4", placeholder:"例）頑張ってるの知ってるよ/いつでも応援してるよ/時には息抜きも大事！etc"%>
        </div>
        <div class="my-8 sm:w-2/3 lg:w-3/5 mx-auto text-center">
          <p class="font-bold lg-font-extrabold text-lg lg:text-xl mb-8 text-center">STEP２</p>
          <%= f.label :background_id, "画像選択", class: "block text-customGreen"%>
          <%= f.select :background_id, options_for_select([["使用したい背景を以下から１つ選択", "", { disabled: true, selected: true }]] + (1..4).to_a), {}, {class: "select select-bordered w-full max-w-xs border-2 border-customGreen7 bg-customBeige3 text-slate-400"} %>
        </div>
        <%= f.hidden_field :encouragement_request_id, value:@encouragement_message.encouragement_request_id%>
        <div class="actions text-center sm:w-2/3 lg:w-3/5 mx-auto mt-10 mb-4">
          <%= f.submit "メッセージカードを作成する", class: "bg-customGreen6 mx-2 my-2 px-10 py-1 rounded-full drop-shadow-lg hover:bg-customGreen7 hover:drop-shadow-lg border-2 border-customGreen2" %>
        </div>
      <% end %>
    </div>
    <div class="sm:hidden container mx-auto px-5 py-1">
      <p class="text-center underline text-customGreen">背景画像</p>
      <div class="flex flex-col items-center  w-full my-4">
        <p>①</p>
        <%= image_tag "1.png", size: '400x300' %>
      </div>
      <div class="flex flex-col items-center  w-full my-4">
        <p>②</p>
        <%= image_tag "2.png", size: '400x300' %>
      </div>
      <div class="flex flex-col items-center  w-full my-4">
        <p>③</p>
        <%= image_tag "3.png", size: '400x300' %>
      </div>
      <div class="flex flex-col items-center  w-full my-4">
        <p>④</p>
        <%= image_tag "4.png", size: '400x300' %>
      </div>
    </div>
    <div class="hidden sm:inline-block container mx-auto px-5 py-1">
      <div class="grid grid-cols-2 gap-2">
        <div class="flex flex-col items-center  w-full my-4">
          <p>①</p>
          <%= image_tag "1.png", size: '400x300' %>
        </div>
        <div class="flex flex-col items-center  w-full my-4">
          <p>②</p>
          <%= image_tag "2.png", size: '400x300' %>
        </div>
        <div class="flex flex-col items-center  w-full my-4">
          <p>③</p>
          <%= image_tag "3.png", size: '400x300' %>
        </div>
        <div class="flex flex-col items-center  w-full my-4">
          <p>④</p>
          <%= image_tag "4.png", size: '400x300' %>
        </div>
      </div>
    </div>
  </div>
</div>
