<% content_for(:title, t('.title'))%>
<div class="bg-customBeige min-h-screen text-customGreen5">
  <div class="container mx-auto px-5 py-10">
    <h1 class="text-2xl font-bold text-center pt-4"><%= t('.title') %></h1>
  </div>
  <div class="container mx-auto px-5 py-10">
    <div class="flex flex-col items-center  w-full">
      <%= image_tag "#{@encouragement_request.background_id}.png", size: '400x300' %>
    </div>
    <div class="container mx-auto px-5 py-10">
      <%= form_with model: @encouragement_request, data: { turbo: false } do |f| %>
        <%= render 'shared/error_messages', object: @encouragement_request %>
        <div class="my-2 sm:w-2/3 lg:w-2/5 sm:mx-auto">
          <%= f.label :text, "画像に入れるテキストを入力", class: "block text-sm md:text-base text-left my-2 text-customGreen" %>
          <%= f.text_area :text, size: "40x4", class: "w-full bg-customBeige3 border-2 border-customGreen7 sm:p-2 rounded-lg", placeholder:"例）励ましてください"%>
        </div>
        <div class="my-2 text-center">
          <%= f.select :status, EncouragementRequest.statuses_i18n.invert, {}, class: "select select-bordered w-full max-w-xs border-2 border-customGreen7 bg-customBeige3 text-slate-400" %>
        </div>
        <%= f.hidden_field :background_id, value: @encouragement_request.background_id%>
        <div class="actions text-center">
          <%= f.submit t('defaults.edit'), class: "bg-customGreen6 my-2 px-10 py-2 rounded-full drop-shadow-lg hover:bg-customGreen7 hover:drop-shadow-lg border-2 border-customGreen2"%>
        </div>
      <% end %>
    </div>
  </div>
</div>