<div class="bg-customBeige min-h-screen text-customGreen5">
  <div class="container mx-auto px-5 py-10">
    <p class="text-xl text-center">背景１</p>
    <figure class="flex justify-center px-6 mt-2">
      <%= image_tag '1.png', size: '400x300' %>
    </figure>
    <div class="items-center text-center mt-3 mb-10">
      <%= button_to "これにする", new_encouragement_request_path, { method: :get, params: {image_id: 1}, class: "bg-customGreen6 my-2 px-10 py-2 rounded-full drop-shadow-lg hover:bg-customGreen7 hover:drop-shadow-lg border-2 border-customGreen2" } %>
    </div>
    <p class="text-xl text-center">背景2</p>
    <figure class="flex justify-center px-6 mt-2">
      <%= image_tag '2.png', size: '400x300' %>
    </figure>
    <div class="items-center text-center mt-3 mb-10">
      <%= button_to "これにする", new_encouragement_request_path, { method: :get, params: {image_id: 2}, class: "bg-customGreen6 my-2 px-10 py-2 rounded-full drop-shadow-lg hover:bg-customGreen7 hover:drop-shadow-lg border-2 border-customGreen2" } %>
    </div>
    <p class="text-xl text-center">背景3</p>
    <figure class="flex justify-center px-6 mt-2">
      <%= image_tag '3.png', size: '400x300' %>
    </figure>
    <div class="items-center text-center mt-3 mb-10">
      <%= button_to "これにする", new_encouragement_request_path, { method: :get, params: {image_id: 3}, class: "bg-customGreen6 my-2 px-10 py-2 rounded-full drop-shadow-lg hover:bg-customGreen7 hover:drop-shadow-lg border-2 border-customGreen2" } %>
    </div>
    <p class="text-xl text-center">背景4</p>
    <figure class="flex justify-center px-6 mt-2">
      <%= image_tag '4.png', size: '400x300' %>
    </figure>
    <div class="items-center text-center mt-3 mb-10">
      <%= button_to "これにする", new_encouragement_request_path, { method: :get, params: {image_id: 4}, class: "bg-customGreen6 my-2 px-10 py-2 rounded-full drop-shadow-lg hover:bg-customGreen7 hover:drop-shadow-lg border-2 border-customGreen2" } %>
    </div>
  </div>
</div>